/* ESTILOS GERAIS */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: NossaFonte;
  src: url(./fonts/bahnschrift.ttf);
}

@font-face {
  font-family: gineva;
  src: url(./fonts/gineva.otf);
}

body {
  font-family: NossaFonte;
}

p {
  color: #2D2D2D;
  font-weight: 100;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
  color: #2D2D2D;
}

a:hover {
  text-decoration: none;
}

h1 {
  color: #0A355C;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.4rem;
}

input[type=date] {
  line-height: 18px;
  width: 250px;
  background-color: #F2F2F2;
  padding: 10px 20px;
}


/* DESKTOP */
#Desktop {
  width: 100%;
  margin: auto;
}

#Desktop img {
  margin: 80px auto 0 auto;
  display: block;
}

#Desktop p {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}


/* ---- MENU.JS ---- */
#Menu {
  width: 100%;
  overflow: hidden;
  background-color: #ABB5E8;
  margin-bottom: 40px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

#Menu h2 {
  font-family: gineva;
  margin: 0;
  padding: 18px 20px;
  float: right;
  font-size: 2.5rem;
}

#Menu img {
  width: 76px;
  padding: 20px;
}

#Menu img:hover {
  cursor: pointer;
}

#ListaMenu {
  display: none;
  background-color: #F2F2F2;
  width: 100%;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 20px 0;
}

#ListaMenu li {
  padding: 20px 20px;
  list-style-type: none;
}

#ListaMenu img {
  width: 58px;
  float: left;
}


/* MOBILE */
/* ---- LOGIN.JS ---- */
#Login {
  margin: auto;
  width: 85%;
}

#ImagemLogin {
  width: 250px;
  margin: 30px auto;
  display: block;
}


/* ---- HOME.JS ---- */
#Home {
  width: 90%;
  margin: auto;
}

#Home button {
  padding: 20px 42px;
  background-color: #2D2D2D;
  color: white;
  border-radius: 15px;
  font-size: 1.6rem;
  display: block;
  margin: 25px auto;
}

#btn_notification button {
  background-color: #abb5e8;
  font-size: 1.5rem;
  padding: 15px 20px;
  color: #2d2d2d;
}

#MapaGoogle {
  width: 100%;
  height: 450px;
  overflow: scroll;
  margin: auto;
}

#Direcoes {
  width: 90%;
  font-family: NossaFonte;
  margin: auto;
}


/* ---- LIST.JS ---- */
#List {
  margin: 20px auto;
  overflow: hidden;
}

#List h3 {
  width: 72px;
  height: 40px;
  float: left;
  margin: 0;
  padding: 12px 12px;
  background-color: #f2f2f2;
  color: #2d2d2d;
}

#List select {
  width: 280px;
  height: 40px;
  background-color: #F2F2F2;
  margin-left: 2px;
  margin-bottom: 5px;
  padding-left: 5px;
  float: left;
}

#List p {
  width: 250px;
  height: 40px;
  background-color: #F2F2F2;
  float: left;
  margin-left: 2px;
  padding-top: 10px;
  padding: 10px;
}

#Morada {
  width: auto !important;
  padding-right: 15px !important;
}



/** ---- RESERVA.JS ---- **/
#Reserva {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

#Reserva h3 {
  background-color: #F2F2F2;
  width: 95px;
  padding: 12px;
  float: left;
  margin: 0 10px 40px 0;
}

.inputReserva {
  background-color: #F2F2F2;
  padding: 8px 15px;
  width: 20%;
  line-height: 25px;
  float: left;
  margin-right: 4px;
}

#numTlmv {
  background-color: #F2F2F2;
  padding: 10px 25px;
  width: 350px;
  margin-bottom: 40px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 12px;
}

input#numTlmv::placeholder {
  color: #2D2D2D;
}

.caixinha {
  border-radius: 40px;
  background-color: rgb(221, 221, 221);
  width: 164px;
  overflow: hidden;
  padding: 20px 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 2% 30px 2%;
}

.caixinha img {
  width: 83%;
  display: block;
  margin: auto;
}

.caixinha h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

.botoesReserva {
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.botoesReserva span {
  display: inline-block;
  width: 56px;
  text-align: center;
  line-height: 30px;
  font-size: 1.5rem;
  color: #6C6DFF;
}

.btn_increm {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  padding: 0;
  display: inline-block;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgb(155, 105, 189);
}

#Roupas {
  clear: both;
  overflow: hidden;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

#btn_finaliza_compra {
  display: none;
  background-color: #2d2d2d;
  width: 180px;
  overflow: hidden;
  border-radius: 20px;
  margin: 40px auto 50px calc(50% - 90px);
  padding: 20px;
}

#btn_finaliza_compra img {
  width: 45px;
  float: left;
}

#btn_finaliza_compra p {
  color: white;
  float: left;
  line-height: 45px;
  margin: 0 0 0 20px;
}

#selectTempo {
  overflow: hidden;
  clear: both;
  margin-bottom: 50px;
}

#selectTempo select {
  width: 75%;
  background-color: #F2F2F2;
  padding: 12.5px 16px;
}

#data {
  width: 75%;
}


/** ---- PAGAMENTO.JS ---- **/
#Pagamento {
  width: 90%;
  margin: auto;
}

#escolhaOp {
  margin-bottom: 40px;
}

.botoesPagamento {
  background-color: #dddddd;
  width: 215px;
  overflow: hidden;
  padding: 25px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
}

.botoesPagamento img {
  width: 50px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

.botoesPagamento p {
  color: #2D2D2D;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
  line-height: 0;
}


/* ---- PEDIDOS.JS ---- */
.Pedidos {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.Pedidos:last-of-type {
  margin-bottom: 50px;
}

#Arquivo {
  font-family: NossaFonte;
  font-weight: 100;
  font-size: 1.5rem;
  padding: 10px 0;
  float: left;
}

#divArq img {
  width: 40px;
  margin: 8px 15px 0;
  float: left;
}

#borderCima {
  width: 100%;
  border-top: 1px solid #F1F1F1;
  margin-top: 20px;
}

#borderBaixo {
  width: 100%;
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: 20px;
}

.Ativos {
  width: 90%;
  padding: 20px;
  margin: 0 20px 0 0;
  background-color: #F2F2F2;
  float: left;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
}

.Ativos p {
  line-height: 15px;
  margin-bottom: 0;
}

.Ativos span {
  color: grey;
  line-height: 30px;
  margin-left: 20px;
  float: left;
  clear: both;
}

.Ativos span:first-of-type {
  margin-top: 10px;
}

.PedidosAtivos {
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
}

.PedidosAtivos img {
  height: 25px;
  margin: 150px 0 0 0;
}


/* ---- ESTADORESERVA.JS ---- */
#EstadoReserva {
  width: 90%;
  margin: auto;
}

.EstadoP {
  color: #A4A4A4;
  text-align: center;
  font-weight: 100;
  margin-bottom: 50px;
}

#EstadoReserva img {
  width: 70%;
  display: block;
  margin: 40px auto;
}

#EstadoReserva h3 {
  text-align: center;
  color: #0a355c;
  font-weight: 800;
}

#EstafetaCaminho {
  margin-bottom: 50px;
}

#estadoImg {
  width: 38% !important;
  margin: 30px auto 50px auto !important;
}


/* ---- APOSENCOMENDA.JS ---- */
#AposEncomenda {
  width: 65%;
  margin: auto;
}

#AposEncomenda img {
  width: 100%;
  display: block;
  margin: 80px auto 30px auto;
}

#AposEncomenda h5 {
  font-size: 2rem;
  text-align: center;
  line-height: 40px;
}


/* ---- ARQUIVO.JS ---- */
#ArquivoPag {
  width: 90%;
  margin: auto;
}

#divArq {
  overflow: hidden;
}

.PedidosArquivados {
  width: 96%;
  overflow: hidden;
  background-color: #F2F2F2;
  padding: 30px;
  margin: 30px 6px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
}

.pArquivo {
  float: left;
  overflow: hidden;
}

.PedidosArquivados p {
  background-color: #D493C5;
  display: block;
  margin: 100px 10px 0 0;
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
  color: white;
}

.dataArq {
  background-color: transparent !important;
  color: #2d2d2d !important;
  clear: both;
  margin: 0 !important;
  box-shadow: none !important;
  padding: 10px !important;
}

.RoupasPedidos {
  float: left;
}

.PedidosArquivados span {
  color: grey;
  line-height: 30px;
  margin-left: 20px;
  float: left;
  clear: both;
}


/* ---- TABLE ESTAFETA ---- */
#selectmain {
  margin-top: 50px;
  background-color: #ABB5E8;
  width: 50%;
  height: 50px;
  color: white;
}

#clienteInfo {
  float: left;
  width: 40%;
}

#roupa {
  float: left;
  width: 50%;
}

.adp-summary {
  font-size: 50px;
}


/* ---- LOADINGSCREEN.JS ---- */
#Loading {
  margin: auto;
  width: 80%;
}

#Loading img {
  width: 80%;
  margin: 180px auto 50px auto;
  display: block;
}

#Loading h1 {
  text-align: center;
}