/* ESTILOS GERAIS */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: NossaFonte;
  src: url(./fonts/bahnschrift.ttf);
}

@font-face {
  font-family: gineva;
  src: url(./fonts/gineva.otf);
}

body {
  font-family: NossaFonte;
}

p {
  color: #2D2D2D;
  font-weight: 100;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
  color: #2D2D2D;
}

h3 {
  font-size: 1.4rem;
}


/* DESKTOP */
#Desktop {
  width: 100%;
  margin: auto;
}

#Desktop img {
  margin: 80px auto 0 auto;
  display: block;
}

#Desktop p {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}


/* ---- MENU.JS ---- */
#Menu {
  width: 100%;
  overflow: hidden;
  background-color: #ABB5E8;
}

#Menu h2 {
  font-family: gineva;
  margin: 0;
  padding: 18px 20px;
  float: right;
  font-size: 2.5rem;
}

#Menu img {
  width: 78px;
  padding: 20px;
}

#Menu img:hover {
  cursor: pointer;
}

#ListaMenu {
  display: none;
  background-color: #F2F2F2;
  width: 100%;
}

#ListaMenu li {
  padding: 20px 20px;
  list-style-type: none;
}


/* MOBILE */
/* ---- LOGIN.JS ---- */
#Login {
  margin: auto;
  width: 85%;
}

#ImagemLogin {
  width: 250px;
  margin: 30px auto;
  display: block;
}


/* ---- HOME.JS ---- */
#Home {
  width: 90%;
  margin: auto;
}

#Home h1 {
  color: #0A355C;
  text-transform: uppercase;
  font-size: 2rem;
}

#Home button {
  padding: 20px 42px;
  background-color: #2D2D2D;
  color: white;
  border-radius: 15px;
  font-size: 1.6rem;
  margin: auto;
  display: block;
}

#MapaGoogle {
  width: 90%;
  height: 450px;
  overflow: scroll;
  margin: auto;
}

#Direcoes {
  width: 90%;
  font-family: NossaFonte;
  margin: auto;
}


/* ---- LIST.JS ---- */
#List {
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

#List h3 {
  width: 72px;
  height: 40px;
  float: left;
  margin: 0;
  padding: 12px 12px;
  background-color: #f2f2f2;
  color: #2d2d2d;
}

#List select {
  width: 250px;
  height: 40px;
  background-color: #F2F2F2;
  margin-left: 2px;
  margin-bottom: 5px;
  padding-left: 5px;
  float: left;
}

#List p {
  width: 250px;
  height: 40px;
  background-color: #F2F2F2;
  float: left;
  margin-left: 2px;
  padding-top: 10px;
  padding: 10px;
}

#Morada {
  width: auto !important;
  padding-right: 15px !important;
}





/**DIOGO CSS BUTTON Reserva.js**/

#Reserva .input-number {
  position: relative;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
  border-radius: 20px;
  margin: 2px;
  width: 100%;
  margin-left: 45%;
}

.input-number{
  width: 50%;
  margin-left: 5%;
}

.caixinha{
  border: 2px solid transparent;
  border-radius: 40px;
  background-color:rgb(221, 221, 221);
  width: 265px;
  height: 300px;
  padding-left: 65px;
  box-shadow:0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.caixinha img{
  width: 50%;
  display: block;
  padding-top: 25px;
  margin-left: 25px;
}

.caixinha h4{
  font-size: 25px;
  margin-left: 30px;
  margin-top: 35px;
}
#Reserva span {
  display: inline-block;
  height: 100%;
  width: 60px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #6C6DFF;
}

#Reserva .btn_increm {
  display: inline-block;
  width: 40px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color:rgb(155, 105, 189);
  transition: background-color .2s ease;
  border-radius: 15px;
  height: 40px;
  margin-top: 25px;
}

#Reserva .btn_increm:hover {
  background-color: rgba(155, 105, 189, 0.493);
}


#btn_finaliza_compra {
  display: none;
  background-color: rgb(121, 45, 121);
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-left: 100px;
}

#btn_finaliza_compra:hover{
  background-color: rgba(121, 45, 121, 0.541);
}

#btn_compra {
  margin-left: 30px;
  margin-top: 30px;
  background: transparent;
}

#btn_compra img{
  width: 45px;
}